include ../mixins/retrowave.pug
include ../mixins/githubCorner.pug
include ../mixins/hotspot.pug
include ../mixins/credits.pug

+retrowave
#root
    +githubCorner
    .desk-img__wrp
        img(class="desk-img" src='https://i.ytimg.com/vi/RExRAhQXY0o/maxresdefault.jpg')
        +hotspot("Custom Desktop PC", "Custom-assembled PC", "placed-left")
        +hotspot("KRK", "Studio Speakers", "placed-right")
        +hotspot("Razer Pro Gaming", "Professional gaming chair", "placed-bottom")
        +hotspot("Dell Curved Monitor", "Professional curved monitor from Dell", "placed-right")
        +hotspot("Autonomous Desk", "A very nice and functional standing desk", "placed-right")
        +hotspot("Keyboard", "Mechanical keyboard", "placed-left")
        +hotspot("V-Moda Crossfade", "Headphones", "placed-bottom")
        +hotspot("Yeti", "Professional Mic", "placed-bottom")
        +hotspot("Logitech MX3", "The best mouse on the market", "placed-right")
    +credits