mixin retrowave
	.app
		.sky
			.background-left
			.background-right
			.sun
			.buildings
				.building.building-21
					.top
				.building.building-22
					.top
				.building.building-23
					.top
				.building.building-24
					.top
				.building.building-25
					.top

				.building.building-11
					.top
				.building.building-12
					.top
				.building.building-13
					.top
				.building.building-14
					.top
				.building.building-15
					.top

				.building.building-1
					.top
				.building.building-2
					.top
				.building.building-3
					.top
				.building.building-4
					.top
				.building.building-5
					.top
				.building.building-6
					.top
				.building.building-7
					.top
				.building.building-8
					.top
				.building.building-9
					.top
				.building.building-10
					.top

		.ground

			.road.left
			.road.left.bis
			.road.right
			.road.right.bis

			.road.center.road-0
			.road.center.road-1
			.road.center.road-2
			.road.center.road-3
			.road.center.road-4
			.road.center.road-5


			.wave.vertical.left.wave-0
			.wave.vertical.left.wave-1
			.wave.vertical.left.wave-2
			.wave.vertical.left.wave-3
			.wave.vertical.left.wave-4
			.wave.vertical.left.wave-5

			.wave.vertical.right.wave-0
			.wave.vertical.right.wave-1
			.wave.vertical.right.wave-2
			.wave.vertical.right.wave-3
			.wave.vertical.right.wave-4
			.wave.vertical.right.wave-5

			.wave.horizontal.left.wave-10
			.wave.horizontal.left.wave-11
			.wave.horizontal.left.wave-12
			.wave.horizontal.left.wave-13
			.wave.horizontal.left.wave-14
			.wave.horizontal.left.wave-15
			.wave.horizontal.left.wave-16
			.wave.horizontal.left.wave-17
			.wave.horizontal.left.wave-18
			.wave.horizontal.left.wave-19

			.wave.horizontal.right.wave-10
			.wave.horizontal.right.wave-11
			.wave.horizontal.right.wave-12
			.wave.horizontal.right.wave-13
			.wave.horizontal.right.wave-14
			.wave.horizontal.right.wave-15
			.wave.horizontal.right.wave-16
			.wave.horizontal.right.wave-17
			.wave.horizontal.right.wave-18
			.wave.horizontal.right.wave-19