mixin credits
    footer.credits
        span Developed by &nbsp;
        span
            a(class='credits__link' href='https://github.com/Th3Wall' target="_blank") Th3Wall
        a(href='https://github.com/Th3Wall' target="_blank")
            img(class='credits__avatar' src='https://avatars.githubusercontent.com/u/25078541?v=4')