@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$main-font: "Quicksand", sans-serif;

$white: #ffffff;
$black: #000000;
$bg-color: #282c34;
$gradient-stop-1: #4158d0;
$gradient-stop-2: #c850c0;
$gradient-stop-3: #ffcc70;
$bezier-curve: cubic-bezier(0.6, -0.05, 0.01, 0.99);